:root {
  --light-aqua: #83D6E3;
  --aqua: #4EADBE;
  --dark-aqua: #268596;
  --white: #f3f3f3;
  --dark-gray: #7F7F7F;
  --gray: #E7E7E7;

  --primary-bg: #63C2D1;
  --primary-text: #303030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 15px */
  font-size: 93.75%;
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width:6px;
  height:6px;
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--dark-aqua);
  border-radius: 8px;
}


a {
  color: var(--primary-text);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: var(--dark-aqua);
}

li {
  list-style: none;
}

#app {
  min-height: 100vh;
}

@media (min-width: 860px) {
  html {
    /* 14px */
    font-size: 87.5%;
  }
}
